@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Hind+Madurai&family=Lato:wght@300&family=Merriweather:ital,wght@1,300&family=Open+Sans:wght@300&family=Padauk&family=Playfair+Display&family=Poppins:wght@300&family=Roboto&family=Roboto+Flex:opsz@8..144&family=Roboto+Mono&family=Titillium+Web:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* outline: 1px solid red; */

}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 30px;
}

.l-header {
    display: flex;
}

.l-header span {
    width: 3px;
    height: 3px;
    color: #FF8A56;
}

.l-header h2 {
    font-size: 30px;
    padding-left: 20px;
}

.r-links {
    display: flex;
    flex-basis: 45%;
    justify-content: space-around;
}

.r-links a {
    color: #000;
    font-size: 1.5vw;
}

.r-links a:hover {
    text-decoration: underline 2px rgb(70, 138, 240);
    transition: .3s ease-in;
}

/* certain navbar -js */

#navbar {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

#overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 0;
    transition: .8s ease-in;
    overflow-x: hidden;
}

#overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
}

#closebtn {
    position: absolute;
    top: 10px;
    right: 30px;
    color: #fff;
    font-size: 45px;
    cursor: pointer;
}

#overlay-content a {
    font-size: 30px;
    color: #848484;
}

#overlay-content a:hover,
#overlay-content a:focus {
    color: #fff;
    transition: .2s ease-in;

}

/* content */
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    padding-left: 20px;

}

.left-side h1 span {
    color: #FF8A56;
    font-size: 4rem;
    width: 100%;
    letter-spacing: 2px;
}

.left-side h1 {
    font-size: 4.5rem;
}

 .left-side span {
    opacity: 0.6;
    font-size: 1.7rem;
    padding-top: 10px;
    line-height: 2.5rem;

} 

.buttons {
    display: flex;
    align-items: center;
    padding-top: 30px;

}

.black button {
    width: 8vw;
    height: 3.5vw;
    background: #000;
    color: #fff;
    font-size: 1.4vw;
    outline: none;
    cursor: pointer;
}

.white button {
    width: 10vw;
    height: 3.5vw;
    background: #fff;
    color: #000;
    font-size: 1.4vw;
    outline: none;
    border: none;
    cursor: pointer;
}

.buttons>a {
    color: #000;
    padding: 10px;
    font-size: 1.5vw;
}

.content .img {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    width: 500px;
    height: 560px;

}

.content .img img {
    width: 100%;
    height: 100%;
}

/* logolar */

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding: 30px;


}

.logos h5 {
    font-size: 2.5vw;
    line-height: 18px;
    font-weight: 100;
}

.logo-name {
    display: flex;
    width: 80%;
    justify-content: space-around;
    gap: 25px;

}

.logo-name .log {
    width: 20%;
}

.logo-name .log img {
    width: 100%;
}


/* SERVICES */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    gap: 20px;
}

.services h1 {
    color: #FF5E69;
    letter-spacing: 10px;
    font-weight: 700;
    font-size: 1.5rem;
}

.services h2 {
    font-size: 3rem;
    line-height: 3.6rem;
    text-align-last: center;
    letter-spacing: 2px;
}

.services-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 10px;
    flex-wrap: wrap;

}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    min-width: 250px;

}

.paragraph p {
    width: 60%;
}

.paragraph ul {
    list-style-type: square;
    transform: translateX(4%);
    line-height: 30px;
    font-weight: bold;
}



/* project- pictures3 */


.project {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;

}

.project .top {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.project .top .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

.project .top .left h4 {
    color: #B16CEA;
    font-size: 3vw;
    letter-spacing: 3.7px;
}

.project .top .left h2 {
    font-size: 3.3vw;
    letter-spacing: 2px;
}

.project .top .right {
    display: flex;
    align-items: center;
    padding-right: 7%;

}

.project .top .right button {
    height: 3.4vw;
    width: 10vw;
    color: #fff;
    border: transparent;
    background: #000;
    padding: 1vw;
    font-size: 1vw;
    cursor: pointer;
}

.project .product-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    transform: translateY(38%);
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    /* gap: 2px; */
    min-width: 280px;

}


.product-cards .product-card .foto {
    width: 100%;
    height: 305px;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project .product-card:hover {
    box-shadow: 3px 2px 5px 6px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(70, 15, 15, 0.19);
}



.foto-name {
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    cursor: pointer;
    background: #ddd;
}

.foto-name h3 {
    color: #3C46FF;
    letter-spacing: 1.9px;
    font-weight: 400;
    font-size: 1.9vw;
}

.foto-name p {
    font-size: 1.7vw;
}

.foto-name h2 {
    font-size: 2vw;
}

/* blogs-black page */

.blog {
    display: flex;
    flex-direction: column;
    background: #000;

}

.blog-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3% 7%;
}

.vector-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-top: 120px;
    padding-right: 30px;
    cursor: pointer;


}

.vector-right .top {
    background-color: #fff;
    padding: 1vw;
    width: 3vw;
    height: 3vw;
}

.vector-right .top img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.black-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: #fff;

}

.left-blog {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 50%;
    color: #fff;
    margin-bottom: 60%;
    padding-left: 20px;
}

.left-blog h3 {
    color: #FFA84B;
    font-size: 2.6vw;
    letter-spacing: 6px;
    font-weight: 400;
}

.left-blog h1 {
    font-size: 4vw;
    letter-spacing: 2.3px;
    font-weight: bolder;
}

.left-blog span {
    letter-spacing: 2px;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    flex: 1;
}

.article .read {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.article .read p {
    width: 80%;
    line-height: 37px;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 2vw;
}

.article .read span {
    font-weight: 500;
    cursor: pointer;
    letter-spacing: .8px;
    font-size: 1.1vw;

}

.article .read h5 {
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

.article .read small {
    font-size: 1vw;
}

/* info-white */
.information {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.i-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.i-header-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 50%;
}

.i-header-left h6 {
    color: #FF5E69;
    font-size: 2vw;
    letter-spacing: 2.3px;
}

.i-header-left h2 {
    font-size: 3vw;
    letter-spacing: 3px;

}

.i-header-right {
    display: flex;
    width: 30%;
    font-size: 15px;
    line-height: 2vw;

}

.i-header-right p {
    opacity: .6;
}

.i-center {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 20px;
    justify-content: center;

}

.i-center .i-left-side {
    width: 338px;
    height: 626px;
}

.i-center .i-left-side img {
    width: 100%;
    height: 100%;
}

.i-center .img-center {
    width: 507px;
    height: 626px;
}

.i-center .img-center img {
    width: 100%;
    height: 100%;
}

.i-right-side {
    display: flex;
    flex-direction: column;
    width: 338px;
    gap: 16px;

}

.i-right-side .right-side-top {
    width: inherit;
    height: 305px;
}

.i-right-side .right-side-top img {
    width: 100%;
    height: 100%;
}

.i-right-side .right-side-bottom {
    width: inherit;
    height: 305px;
}

.i-right-side .right-side-bottom img {
    width: 100%;
    height: 100%;
}

/* education-work */

.experience {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    gap: 20px;

}

.education {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    gap: 40px;
    padding-left: 20px;

}

.education .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
}

.education .edupic {
    width: 40%;
    height: 60%;
}

.education .edupic img {
    width: 100%;
    height: 100%;

}

.universty {
    display: flex;
    justify-content: space-between;

}


.date {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}

.universty h2 {
    font-size: 2vw;
}

.date p {
    font-size: 1.4vw;
    opacity: .8;
}

.date small {
    font-size: 1.2vw;
    opacity: .8;
}

/* right-side */


.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    gap: 40px;
    padding-right: 10px;

}

.work .infor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.work .workpic {
    width: 60%;
    height: 60%;
}

.work .workpic img {
    width: 100%;
    height: 100%;
}

.left-s {
    display: flex;
    gap: 20px;
    align-items: center;
}

.left-pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.space {
    width: 3.2vw;
    height: 3vw;
}

.space img {
    width: 100%;
    height: 100%;
}

.music {
    width: 3.2vw;
    height: 3vw;
}

.music img {
    width: 100%;
    height: 100%;
}

.king {
    width: 3.5vw;
    height: 3vw;
}

.king img {
    width: 100%;
    height: 100%;
}



.topic {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.topic h2 {
    font-size: 2vw;
}

.topic p {
    font-size: 1.4vw;
    opacity: .8
}

.work .right-s {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right-s .top-s {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;

}

.right-s small {
    font-size: 1.2vw;
    opacity: .8;
    padding-right: 50px;
}


/* testman */

.test {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    border-top: 1px solid #ddd;

}

.test-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.test-header .side {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 20px;
}

.side h6 {
    font-size: 2vw;
    letter-spacing: .5vw;
    color: #4353FF;
    text-transform: uppercase;
}

.side h1 {
    font-size: 2vw;
    letter-spacing: .1vw;
    font-weight: bolder;
}

.center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 35px;
    gap: 20px;
}

.center .man {
    display: flex;
    align-items: center;
}

.center .man {
    width: 500px;
    height: 560px;
    min-width: 200px;

}

.center .man img {
    width: 100%;
    height: 100%;
}

.center .speech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    gap: 25px;
}

.speech .vector-c {
    display: flex;
    align-self: flex-start;
    width: 3vw;
    height: 5vw;
}

.speech .vector-c img {
    width: 100%;
    height: 100%;
}

.speech h2 {
    width: 70%;
    font-size: 28px;
    letter-spacing: .1vw;
    line-height: 2.8vw;

}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17%;
}

.bottom .name {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.bottom .name h4 {
    font-size: 22px;
}

.bottom .name p {
    font-size: 17px;
}

.bottom-figure {
    display: flex;
    padding-right: 20%;

}

.bottom-f {
    background: #000;
    padding: 1vw;
    width: 3vw;
    height: 3vw;
}

.bottom-f img {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* faq-footer */

.faq {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    background: #000;
    color: #fff;
}

.faq-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
}

.faq-header h5 {
    color: #FF8A56;
    font-size: 2.2vw;
    letter-spacing: .4vw;
    font-weight: 600;
}

.faq-header h1 {
    font-weight: 900;
    letter-spacing: .2vw;
    font-size: 3vw;
}


.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;

}

.section .section-left {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    gap: 40px;
    padding-left: 20px;
}

.question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
}

.question p {
    font-size: 1.6vw;
    letter-spacing: .01vw;
}

.faq-vector {
    width: .9vw;
    height: .9vw;
}

.faq-vector img {
    width: 100%;
    height: 100%;
}

.section-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-basis: 40%;
    padding-right: 20px;
}

/* footer */


.footer {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 30px 20px;
}

.footer-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 10px;
}

.footer-top h1 {
    color: #fff;
    font-size: 3.4vw;
    letter-spacing: .2vw;


}

.footer-top h2 {
    color: #3C46FF;
    letter-spacing: .1vw;
    font-size: 3vw;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}

.footer-bottom .left {
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex-basis: 50%;

}

.footer-bottom .left .message {
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
    gap: 5px;
}

.message img {
    width: 100%;
    height: 100%;
}

.footer-bottom .left p {
    font-weight: 600;
}

.footer-bottom .left small {
    opacity: .2;
}

.footer-bottom .left span {
    opacity: .2;
}

.footer-bottom .left small:hover {
    opacity: .6;
    color: #fff;
    transition: .4s ease-in;
}

.footer-bottom .left span:hover {
    opacity: .6;
    color: #fff;
    transition: .4s ease-in;
}


.footer-bottom .right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-basis: 40%;
}

.right-p {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.footer-down {
    display: flex;
    justify-content: flex-start;
    padding: 50px 30px 20px 10px;
}

.tags {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 5px;
    cursor: pointer;
}

.tags small {
    font-size: 1vw;
    opacity: .2;
}

.tags small:hover {
    color: rgb(255, 255, 255);
    opacity: .6;
    transition: .4s ease-in;
}



@media(max-width:930px) {
    .r-links {
        display: none;
    }

    #navbar {
        display: flex;
    }


    .l-header h2 {
        font-size: 26px;
    }


    .content {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .content span {
        font-size: 3vw;
        line-height: 25px;
    }

    .content .img  {
        padding-top: 30px;
        width: 400px;
        height: 460px;

    }

    .buttons {
        justify-content: space-around;
        padding: 20PX;

    }

    .black button {
        width: 19vw;
        height: 7vw;
        font-size: 2.4vw;

    }

    .white button {
        width: 19vw;
        height: 7vw;
        font-size: 2.7vw;

    }

    .buttons>a {
        font-size: 17px;
    }


    .left-side h2 {
        width: 100%;
    }

    .bottom .name h4 {
        font-size: 13px;
    }

    .logos h5 {
        font-size: 25px;

    }

    .logo-name {
        width: 100%;
    }

    .logo-name .log {
        width: 30%;
    }

    .logo-name .log img {
        width: 100%;
    }

    .services h2 {
        width: 100%;
        font-size: 17px;
        letter-spacing: .3px;

    }

    .services h1 {
        font-size: 26px;
        letter-spacing: 3.8px;
    }

    .services-offer p {
        width: 100%;
    }

    .project .product-cards {
        transform: translateY(11%);
    }

    .project .top {
        justify-content: space-between;
        gap: 10px;

    }

    .project .top .left {
        gap: 8px;
    }

    .project .top .left h4 {
        color: #B16CEA;
        font-size: 4vw;
        letter-spacing: 2px;
    }

    .project .top .left h2 {
        width: 100%;
        font-size: 4vw;
        letter-spacing: 1px;
    }


    .project .top .right button {
        height: 7vw;
        width: 20vw;
        padding: 1.8vw;
        font-size: 2vw;
        cursor: pointer;

    }

    .product-card .foto-name h3 {
        font-size: 4vw;
        letter-spacing: .1px;
    }

    .product-card .foto-name p {
        font-size: 2.3vw;
    }

    .product-card .foto-name h2 {
        font-size: 2.5vw;
    }



    .blog-header {
        padding: 3% 9%;
    }

    .vector-right {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 110px;
        padding-right: 20px;
        cursor: pointer;


    }

    .vector-right .top {
        padding: 1.5vw;
        width: 4vw;
        height: 4vw;
    }

    .vector-right .top img {
        width: 100%;
        height: 100%;

    }


    .black-page {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .black-page .left-blog {
        display: flex;
        justify-content: space-between!important;
        gap: 10px;
        margin-bottom: 10%;
    }


    .black-page .left-blog h3 {
        font-size: 5vw;
        letter-spacing: 5px;
        font-weight: 400;
    }

    .black-page .left-blog h1 {
        font-size: 4.7vw;
        letter-spacing: 2.7px;
        font-weight: bolder;
    }

    .black-page .left-blog span {
        letter-spacing: 2.2px;
        font-size: 3vw;

    }

    .black-page .article {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        /* flex-basis: 20%; */
        /* transform: translateY(-20%); */
    }

    .black-page .article .read {
        gap: 10px;

    }

    .black-page .article .read p {
        width: 100%;
        letter-spacing: .3px;
        font-size: 4vw;

    }

    .black-page .article .read span {
        letter-spacing: .8px;
        font-size: 2.3vw;

    }

    .black-page .article .read small {
        font-size: 2.6vw;
    }


 


    /* universty-work */
    .i-header {
        flex-direction: column;
        gap: 14px;
    }

    .i-header .i-header-left h2 {
        font-size: 6vw;
    }

    .i-header .i-header-left h6 {
        font-size: 4vw;
    }

    .i-header-right {
        font-size: 3vw;
        opacity: .9;
        line-height: 20px;
        width: 100%;
        text-align: center;

    }




    .experience {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .education .edupic {
        width: 80%;
        height: 40%;
    }

    .edupic img {
        width: 100%;
        height: 100%;
    }

    .universty h2 {
        font-size: 4.2vw;
    }

    /* .date {
    flex-direction: column;
    gap: 5px;
} */
    .date p {
        font-size: 3vw;
    }

    .date small {
        font-size: 2.8vw;
    }

    .work .workpic {
        width: 80%;
        height: 40%;
    }

    .work .workpic img {
        width: 100%;
        height: 100%;
    }

    .topic h2 {
        font-size: 4.2vw;
    }

    .topic p {
        font-size: 2.8vw;
        opacity: .8;
    }

    .right-s small {
        font-size: 2.8vw;
    }

    .left-s .music,
    .king,
    .space {
        display: none;
    }

    /* testi */


    .test {
        padding-top: 10px;
    }

    .test-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side h6 {
        font-size: 4vw;
    }

    .side h1 {
        font-size: 3.4vw;

    }

    .center {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
    .center .man {
        width: 400px;
        height: 460px;
        min-width: 200px;
    
    }
    
    .center .man img {
        width: 100%;
        height: 100%;
    }


    .center .speech {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .speech .vector-c {
        display: flex;
        align-self: flex-start;
        width: 4.5vw;
        height: 6.5vw;
    }

    .speech .vector-c img {
        width: 100%;
        height: 100%;
    }

    .speech h2 {
        width: 90%;
        font-size: 5.4vw;
        letter-spacing: .1vw;
        line-height: 5.8vw;

    }

    .bottom {
        justify-content: space-between;
        padding-top: 6%;
        width: 90%;
    }

    .bottom .name {
        gap: 5px;
    }

    .bottom .name h4 {
        font-size: 4vw;
    }

    .bottom .name p {
        font-size: 3vw;
    }

    .bottom-figure {
        display: flex;
        padding-right: 20%;

    }

    .bottom-f {
        padding: 1vw;
        width: 4vw;
        height: 4vw;
    }



    .faq-header h5 {
        font-size: 4vw;
        letter-spacing: .4vw;
    }

    .faq-header h1 {

        letter-spacing: .2vw;
        font-size: 5vw;
    }


    .section {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 30px;

    }

    .section .section-left {
        flex-direction: column;
        width: 100%;
        gap: 30px;
        padding: 0 20px 50px 20px;
    }



    .question p {
        font-size: 3vw;
        letter-spacing: .01vw;
    }



    .faq-vector {
        width: 1.5vw;
        height: 2vw;
    }

    .faq-vector img {
        width: 100%;
        height: 100%;
    }

    .section-right {
        flex-direction: column;
        gap: 30px;
        width: 100%; 
        padding-left: 20px;

    }

    /* footer */



    .footer-top {
        align-items: center;
    }
    .footer-bottom .left {
        align-items: center;
        flex-basis: 90%;
    }
    
    .footer-bottom .left .message {
        align-items: center;
        justify-content: center;
    } 
    .footer-top h1 {
        font-size: 4vw;
    }

    .footer-top h2 {
        font-size: 3.6vw;
    }

    .footer-bottom .left .message {
        width: 4vw;
        height: 4vw;
    }

    .message img {
        width: 100%;
        height: 100%;
    }


    .footer-down {
        justify-content: center;

    }

    .tags {
        flex-direction: column;
        align-items: center;

    }

    .tags small {
        font-size: 2.2vw;

    }



}

